 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 *{
    font-family: 'open-sans',sans-serif;
 }




body{
    display: flex;
    justify-content: center;
    background: url(images/next-level-css-creative-hover-animation-effects-free-download.png);
}

.container{
    background-color: rgba(195, 205, 228, 0.92);
    margin-top: 50px;
    width: 300px;
    box-shadow:0px 0px 20px 10px #5F168B;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}
h1{
    margin-bottom: 40px;

}
input{
    border-radius: 15px;
    border: none;
    border: 1px solid #5F168B;
    width:50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
button{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #5F168B;
    color: aliceblue;
    font: bold;
    font-size: 20px;


}
button:hover{
    background-color: rgb(46, 39, 96);
}
#result{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.end{
    margin-top: 30px;
    color: rgb(45, 38, 98);
    font-size: 19px;
    font-weight: bold;

}